.contenedor {
  color: white;
}
.tarjeta {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}
.tarjeta_container {
  width: 80%;
}
.tarjeta_footer {
  top: 50%;
}
.game_img {
  width: 100%;
  height: 90%;
}
